[Service]
ExecStart=/path/to/api
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=api
User=root
Group=root
Environment=GIN_MODE=release

[Install]
WantedBy=multi-user.target