[Unit]
Description=aid_kit service
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=5
User=root
Group=root
WorkingDirectory=/data/3dppt/soft/aid-kit
Environment="RUST_LOG=aid_kit"
ExecStart=/data/3dppt/soft/aid-kit/aid_kit

[Install]
WantedBy=multi-user.target